<!DOCTYPE html>
<html>

<head>
  <title>Wordcount</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <style>
    .container {
      max-width: 1000px;
    }

    #incrementer {
      width: 150px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <h1>Wordcounter</h1>
        <form role="form" method="POST" action="/start">

          <div class="form-group">
            <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..."
              style="max-width: 300px;" autofocus required />
          </div>

          <div class="form-group" id="incrementer">
            <label for="quantity">Number of top words:</label>
            <input type="number" id="quantity" name="quantity" class="form-control input-number" value="10">
          </div>

          <button type="submit" id="submit-button" class="btn btn-default">Submit</button>

        </form>
        <div class="alert alert-danger" role="alert" hidden>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span>There was an error submitting your URL.<br>
            Please check to make sure it is valid before trying again.</span>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-1">
        <h2>Frequencies</h2>
        <br>
        <div id="results">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Word</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody id="word-count">
            </tbody>
          </table>
        </div>
        <img id="spinner" class="col-sm-3 col-sm-offset-4" src="/static/spinner.gif" hidden />
      </div>
    </div>
  </div>
  <br><br>
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(() => {

      function getWordCount(jobId) {
        var url = "/results/" + jobId;

        var poller = () => {
          $.get(url, (data, status, xhr) => {
            console.log(xhr.status);
            console.log(data);
            if (xhr.status == 200) {
              $.each(data, (i, count) => {
                $("#word-count").append(
                  $("<tr>").append(
                    $("<td>").text(count[0]),
                    $("<td>").text(count[1])
                  )
                );
              });
              $("#submit-button").prop("disabled", false).text("Submit");
              $("#spinner").hide();
            } else {
              setTimeout(poller, 1000);
            }
          }).fail((err) => {
            console.log(err);
            $("#submit-button").prop("disabled", false).text("Submit");
            $("#spinner").hide();
            $("[role='alert']").show();
          });

        };
        
      poller();

      };

      var $form = $("[role='form']");
      $form.submit(event => {
        event.preventDefault();

        var postUrl = $form.attr("action");
        var inputUrl = $form.find('input[name="url"]').val();

        $.ajax({
          url: postUrl,
          type: "POST",
          contentType: "application/json",  // must explicitly specify for json.loads() to work
          data: JSON.stringify({ url: inputUrl }),
          success: jobId => {
            console.log(jobId);
            getWordCount(jobId);
            $("#word-count").html(null);
            $("#submit-button").prop("disabled", true).text("Loading...");
            $("#spinner").show();
            $("[role='alert']").hide();
          },
          error: err => console.log(err)
        });

      });

    });
  </script>
</body>

</html>